In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('fb.csv')

In [4]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [5]:
data.shape

(500, 19)

In [6]:
data.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [8]:
data.iloc[2:10,:]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142

In [9]:
data.iloc[2:10,1:5]

     Type  Category  Post Month  Post Weekday
2   Photo         3          12             3
3   Photo         2          12             2
4   Photo         2          12             2
5  Status         2          12             1
6   Photo         3          12             1
7   Photo         3          12             7
8  Status         2          12             7
9   Photo         3          12             6

In [10]:
x = data.iloc[2:10,1:5]

In [13]:
x.shape

(8, 4)

In [14]:
data.iloc[:10,:5]

   Page total likes    Type  Category  Post Month  Post Weekday
0            139441   Photo         2          12             4
1            139441  Status         2          12             3
2            139441   Photo         3          12             3
3            139441   Photo         2          12             2
4            139441   Photo         2          12             2
5            139441  Status         2          12             1
6            139441   Photo         3          12             1
7            139441   Photo         3          12             7
8            139441  Status         2          12             7
9            139441   Photo         3          12             6

In [15]:
data.iloc[12:,10:]

,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
12,115,133,3779,2072,152,0,90.0,14.0,104
13,134,168,3631,1917,183,5,137.0,10.0,152
14,337,417,34415,19312,684,2,577.0,20.0,599
15,1209,1425,17272,8548,1162,4,86.0,18.0,108
16,123,148,1868,1050,123,2,40.0,12.0,54
...,...,...,...,...,...,...,...,...,...
495,708,985,4750,2876,392,5,53.0,26.0,84
496,508,687,3961,2104,301,0,53.0,22.0,75
497,572,795,4742,2388,363,4,93.0,18.0,115
498,574,832,4534,2452,370,7,91.0,38.0,136
499,524,743,3861,2200,316,0,91.0,28.0,119

In [16]:
df1 = data.iloc[:100]
df2 = data.iloc[100:]
merged_df = pd.concat([df1, df2], axis=0)

In [18]:
merged_df.shape

(500, 19)

In [20]:
sorted_df = data.sort_values(by="Total Interactions", ascending=False)

sorted_df

In [21]:
sorted_df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0

In [23]:
# Transpose only the first 3 rows for demo
transposed = data.head(3).transpose()
print(transposed)

                                                         0       1       2
Page total likes                                    139441  139441  139441
Type                                                 Photo  Status   Photo
Category                                                 2       2       3
Post Month                                              12      12      12
Post Weekday                                             4       3       3
Post Hour                                                3      10       3
Paid                                                   0.0     0.0     0.0
Lifetime Post Total Reach                             2752   10460    2413
Lifetime Post Total Impressions                       5091   19057    4373
Lifetime Engaged Users                                 178    1457     177
Lifetime Post Consumers                                109    1361     113
Lifetime Post Consumptions                             159    1674     154
Lifetime Post Impressions by people who have li...    3078   11710    2812
Lifetime Post reach by people who like your Page      1640    6112    1503
Lifetime People who have liked your Page and en...     119    1108     132
comment                                                  4       5       0
like                                                  79.0   130.0    66.0
share                                                 17.0    29.0    14.0
Total Interactions                                     100     164      80

In [25]:
print("Shape of dataset:", data.shape)

Shape of dataset: (500, 19)

In [26]:
# Reshape example: Average interactions per post type
reshaped = data.pivot_table(values="Total Interactions", index="Type", aggfunc="mean")
print(reshaped)

        Total Interactions
Type
Link             89.045455
Photo           216.579812
Status          217.044444
Video           295.857143